//categories begins

div.categories#categories
	div.wrapper
		-for(var i =0; i< 2; i++)
			//single category link begins
			a(href="category.html")
				h3.h3= cat_link_titles[i]
				span.text_m= cat_link_comment[i]
				// поставить ограничение по символам, чтобы влазили в 2 строчки
			//single category link ends
		

//categories ends