// footer begins

footer 
	div.wrapper
		div.footer_form
			form
				div.input.name
					input.inp_name
				div.input.number
					input.inp_number
				button(type="submit")
		div.footer_contacts
		nav.footer_nav
			ul
				li
					a(href="")
	include modals
	
// footer ends