// header begins
header
	div.wrapper
		div.header_logo
			a(href="index.html#index").anchor
				img(src="images/logo.png" alt="")
		nav
			ul.header_nav
				-for(var i =0; i < 4; i++)
					li
						a.anchor(href= nav_links[i])= nav_titles[i]     
  
// header ends