//jumbotron begins

div.jumbotron#index
	div.bg
	div.wrapper
		h1.h1.main_title Снять квартиру?
		p.comment.text_b С нами это просто!
		a.anchor.bttn(href="#categories") Наши предложения
	
//jumbotron ends