//modals begins

//modal_confirm begins
div.modal_window.modal_confirm
	div.modal_content
		div.close   
		p.text_b Ваша заявка отправлена. Скоро наши менеджеры свяжутся с вами
       
//modal_confirm ends


//modal_error begins
div.modal_window.modal_error
	div.modal_content
		div.close        
		p.text_b Ваша заявка не была отправлена. Попробуйте еще раз.
//modal_error ends

//modals ends