// preferences begins

section.preferences
	div.wrapper
		h2.h2.section_title Преимущества работы с нами
		ul
			-for(var i =0; i< 6; i++)
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque iusto at, quae assumenda expedita, quia, ipsam laudantium atque asperiores enim ex blanditiis incidunt corporis eligendi. Placeat harum beatae magni repellat.
					span.fa.fa-eercast
	
	
// preferences ends