// slider begins
section.new_offers
	div.wrapper
		div.slider_flats
			-for(var i =0; i< 5; i++)
				//single slide begins
				div.single_flat
					img(src="" alt="")
					a(href=)
						h5.h5.slider_title Квартира 3000 грн
						span адрес, подробности
				//single slide ends
					
				
	
// slider ends