html {
	font-size: 16px;
	height: 100vh;
}

body {
	height: 100%;
	font-family: Regular;
	font-size: 16px;
	color: $font_dark;
	background-color: $bg_light;
}

.general_wrapper {
	min-height: 100%;
	padding-bottom: $footer_height;
}

.wrapper {
	padding: 0 20px;
	width: 1200px;
	margin: auto;
}

.bttn {
	cursor: pointer;
	border-width: 2px;
	border-style: solid;
	line-height: 36px;
	height: 40px;
	text-transform: uppercase;
	text-align: center;
	transition: $trans;
	font-size: 16px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: Medium;
}

.h1 {
	font-size: 45px;
}

.h2 {
	font-size: 40px;
}

.h3 {
	font-size: 35px;
}

.h4 {
	font-size: 30px;
}

.h5 {
	font-size: 25px;
}

.h6 {
	font-size: 20px;
}

.text_b {
	font-size: 25px;
}

.text_m {
	font-size: 20px;
}

.text_s {
	font-size: 16px;
}


/*.slick-arrow {
	position: absolute;
	width: 55px;
	height: 55px;
	background-image: url(../images/next-prev.png);
	top: 50%;
	transform: translateY(-50%);
	font-size: 0px;
	z-index: 1;
}

.slick-next {
	right: 0;
	background-position: 0px -55px;
}

.slick-prev {
	left: 0;
	background-position: 0px 0px;
}

.slick-dots {
	font-size: 0;
	li {
		display: inline-block;
		margin-left: 3px;
		button {
			padding: 0;
			width: 10px;
			height: 10px;
			border: 1px solid #ccc;
			font-size: 0;
			border-radius: 50%;
		}
		&.slick-active {
			button {
				width: 10px;
				height: 10px;
				border: none;
			}
		}
	}
}

.slick-track,
.slick-slide {
	&:focus {
		outline: none;
	}
}

.modal_window {
	opacity: 0;
	transition-duration: 0.5s;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	&.visible {
		opacity: 1;
	}
	.close {
		background-image: url(../images/modal_close.png);
		width: 66px;
		height: 66px;
		position: absolute;
		top: -6px;
		right: -10px;
		cursor: pointer;
	}
}

.input {
	position: relative;
	display: inline-block;
	// margin-bottom: 50px;
	&:before {
		content: '';
		position: absolute;
		left: 20px;
		top: 50%;
		width: 17px;
		height: 20px;
		transform: translateY(-50%);
		background-size: 100% 100%;
	}
}*/
