.preferences {font-size: 0;
	text-align: center;
	
	.h2 {
		@include hover_underline(-15px, $bg_dark, 3px);
		text-align: center;
		display: inline-block;
		padding: 0 20px;
		margin-bottom: 60px;
	}
	ul {
		@extend %clear;
		text-align: left;
		li {
			position: relative;
			padding-left: 40px;
			padding-right: 20px;
			font-size: 20px;
			padding-bottom: 20px;
			float: left;
			width: 50%;
			span.fa {
				position: absolute;
				left: 0;
				top: 5px;
				font-size: 20px;
				color: $font_dark;
			}
		}
	}
}
