html,
body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	background-repeat: no-repeat;
}

input {
	border: none;
	&:focus {
		outline: none;
	}
	&[type="file"] {
		display: none;
	}
}

textarea {
	border: none;
	resize: none;
	&:focus {
		outline: none;
	}
}

button {
	display: block;
	margin: auto;
	cursor: pointer;
	border: none;
	padding: 0;
	&:focus {
		outline: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-weight: normal;
}

a {
	&:link,
	&:visited,
	&:active,
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}
