include ../index_help/variables    
include ../index_help/mixins   


doctype html
html
  head
    include ../index_meta/head   
  body
    div.general_wrapper.contacts
        include ../index_comp/header
        include ../other_comp/contacts      
        include ../index_comp/footer 