mixin navigation(active_num, length)
    ul
            -for (var i = 0; i< length; i++)
                if (i == active_num)
                    li.active 
                        a(href= pag_link[i])= pag_text[i]
                else 
                    li
                        a(href= pag_link[i])= pag_text[i]

