-var nav_links = ["index.html#preferences", 'anketa.html', 'about.html', 'contacts.html'];
-var nav_titles = ["Условия", "Анкета", "О нас", "Контакты"];
-var cat_link_titles = ["Снять посуточно","Снять помесячно"];
-var cat_link_comment = ["если вы приехали в город ненадолго или же просто хотите сменить обстановку","если вам нужно жилье в долгосрочной перспективе"];